{% extends "base.html" %}
{% block title %}报名信息{% endblock %}

{% block content %}
<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">医药创新与拔尖创业微专业报名</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">报名信息</h3>
        </div>
        <div class="panel-body">
          <h4>报名方式</h4>
          <p>请在2025年2月25日前，将以下材料发送至指定邮箱：</p>
          <ul>
            <li>报名表（附件1）</li>
            <li>个人简历</li>
            <li>其他代表性作品（如有）</li>
          </ul>
          
          <h4>联系方式</h4>
          <ul>
            <li>袁老师：yijun.yuan@hainanu.edu.cn (18308998903)</li>
            <li>何老师：181346@hainanu.edu.cn</li>
          </ul>
          
          <h4>简历内容建议</h4>
          <p>个人简历中建议包括：</p>
          <ul>
            <li>个人特长</li>
            <li>兴趣方向</li>
            <li>意向项目</li>
            <li>如已加入微专业重点培育项目，请注明项目名称及指导教师</li>
          </ul>
          
          <h4>录取通知</h4>
          <p>2025年3月1日前，将在海南大学药学院网站和公众号公布录取名单。</p>
          
          <h4>纸质材料提交</h4>
          <p>被录取者请于2025年2月25日之前：</p>
          <ol>
            <li>打印纸质报名表一份</li>
            <li>手写签名</li>
            <li>提交至药学院教务办公室（海南大学海甸校区老农科楼601室）</li>
          </ol>
          
          <p class="text-muted">招生人数：60人</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
